<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>로그인페이지</h1>
    <form action="/login" method="POST">
        <label for="userid">아이디</label>
        <input type="text" name="userid" id="userid">       <br>
        <label for="password">비밀번호</label>
        <input type="password" name="password" id="password">       <br>
        <button type="submit">로그인</button>
    </form>
    <br><br> 
 {{msg}}
    <br> 
    <br> 
    <br> 
    <a href="/"><button>돌아가기</button></a>
</body>
</html>